@page "{postId:int?}"

@model WebApp.Pages.Index
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Uploads</title>
    <link rel="stylesheet" href="~/cmpnt/upload.css" />
</head>
<body>
<div>
    <form method="post" class="mb-2" submit-after-unify-uploads="true">
        <div class="mb-3">
            <label asp-for="Post.PostTitle"></label>
            <input class="form-control" asp-for="Post.PostTitle"/>
            <span class="text-danger" asp-validation-for="Post.PostTitle"></span>
        </div>
        
        <p data-for="MyUploadZone">Upload assignment files</p>
        <unify-web-upload zone="MyUploadZone" asp-page="/Index" asp-page-delete-handler="Delete"/>
        
        <input class="btn btn-primary" type="submit"/>
    </form>
</div>

<script src="~/cmpnt/upload.js"></script>

</body>
</html>