@page "{postId:int?}"

@model WebApp.Pages.Index
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Uploads</title>
    <link rel="stylesheet" href="~/cmpnt/upload.css" />
</head>
<body>
<div>
    <form method="post" class="mb-2" submit-after-unify-uploads="true">
        <input asp-for="Post.PostTitle"/>
        <unify-web-upload zone="MyUploadZone" asp-page="/Index" asp-page-delete-handler="Delete"/>
        <input type="submit"/>
    </form>
</div>

<script src="~/cmpnt/upload.js"></script>

</body>
</html>